@model IEnumerable<BankAppV2.Models.Account>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.Name.Contains("@bank.com"))
{
    <h1>Customer Accounts</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Holder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Holder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @if (item.Balance == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Your Accounts</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                    Email
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                    </th>
                    <th>
                    Account Type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Where(x => x.Holder == User.Identity.Name))
            {
                        <tr>
                            <td>
                        @Html.DisplayFor(modelItem => item.Holder)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.AccType)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
            }
            </tbody>
        </table>

}